// Media Query
@mixin device($device) {
  @if $device == tablet {
    @media (min-width: 43.75rem) {
      @content;
    }
  }  
  @else if $device == desktop {
    @media (min-width: 75rem) {
      @content;
    }
  }
}

// Colors
$color0: #FFFFFF;
$color1: #FAFAFA;
$color2: #87879D;
$color3: #28283D;
$color4: #855FB1;
$color5: #D9B8FF;
$color6: #8FE3F9;
$color7: #4D96A9;




// Typography

$fonts: (
  "$xsmall": 1rem,
  "$small": 1.125rem,
  // "$medium1": 20px,
  // "$medium2": 24px,
  "$medium": 2rem,
  "$large1": 2.5rem,
  "$large2": 3rem,
  "$large3": 4rem,
);

// Buttons

.btn {
  border: none;
  display: block;
  padding: 1rem 2.5rem;
  border-radius: 29px;
  line-height: 1.625;
  color: $color0;
  font-weight: 900;
  margin: 0 auto;
  
}
